* {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
    text-align: center;
    margin: 50px;
}

#google,
#yandex,
#bing {
  width: 90%;
  height: 600px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .3);
  border-radius: 5px;
  background-color: #fafafa;
  margin-bottom: 50px;
}